*{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #015285;
    --color-secundary: #ffffff;
    --color-text:rgb(15, 15, 15);
    --color-buttons: #ee8271;
}

li{
    list-style: none;
}

/* @media (min-width:320px) and (max-width: 480px){  */

/*PANTALLA DE INICIO*/   

.firstView{
    /* background-color: var(--color-secundary); */
    background-image: url(../images/joshua-fuller-_p94rZiQlq4-unsplash.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-secundary);
}

.titles-FirstView{
    padding: 2.8125rem 3.125rem;    
}

.text-Titles, .logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.125rem;
    color: var(--color-text);
}

.firstViewButton{   
    margin: 0 auto;
    position: absolute;
    bottom: 3.125rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sarabun', sans-serif;
    background-color: var(--color-buttons);
    color: var(--color-secundary);
    border: none;
    border-radius: 0.75rem;
    font-size: 0.9063rem;
    padding: 0.5rem 1.25rem;
    width: max-content;
}

/*SEGUNDA PANTALLA*/

.secondView{
    background-color: var(--color-secundary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../images/stephen-h-ee50MezYt3s-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    padding: 30px;
}

.view{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    border-radius: 25px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
}

.emailPassword, .registerInputs{
    border: none solid var(--color-secundary);
    border-radius: 20px;
    height: 1.875rem;
    width: 15.625rem;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 20px;
}

.buttonsForm{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border-radius: 20px;
    height: 2rem;
    width: 16rem;
    background-color: var(--color-buttons);
    color: var(--color-secundary); 
    border: none 1px #E5978B;
    margin-bottom: 30px;
}

.complementaryTexts{
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    color: var(--color-secundary);
    padding-bottom: 40px;
    font-weight: 250;
}

.gmail{
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 32px;
    background-color: var(--color-secundary);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1.3px solid var(--color-secundary);
    color: var(--color-text);
}

.googleImage{
    height: 1rem;
    width: 1rem;
}

.bolderText{
    font-family: 'Lato', sans-serif;
    font-weight:1000;
    text-decoration: none;
    color: var(--color-secundary);
    cursor: pointer;
}

.errorMessage{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-align: center;
    color: rgb(196, 29, 29);
    width: 250px;
    height: 15px;
    padding: 4px;
    margin-bottom: 20px;
} 

.buttonsForm:hover{
    cursor: pointer;
    transform: scale(1.03);
}

/*HOME*/
header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 15px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-secundary);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 0 0.6rem #807b7a; 
}

.homeSection{
    padding: 80px 10px;
    background-color: #f0f2f4;
} 

.logoText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.principal-logo{
    padding-top: 10px;
    width: 28px;
    height: 40px;
    padding-right: 15px;
}

/*MENU INFERIOR*/
.tab-menu{
    background-color: var(--color-secundary);
    padding: 0.5rem 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 0 0.6rem #e7887c;
    position: fixed;
    line-height: 15px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.tab-menu-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.tab-menu-item{
    display: flex;
    gap:1rem;
    align-items: center;
    font-size: 0.7rem;
    border-radius: 3rem;
    padding: 0.6rem;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    /* transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

/* .tab-menu-icon{
    transform: translateY(1px);
    width: 1.6rem;
    height: 1.6rem;
} */


/* .tab-menu-text{
    display: none;
} */

.tab-menu-active{
    filter: invert(100%) sepia(12%) saturate(231%) hue-rotate(32deg) brightness(107%) contrast(85%);
    padding: 0.4rem 0.8rem;
    background-color: #2b7b63;
}

.tab-menu-active .tab-menu-text{
    display: block;
}  

/*ACCESO A VENTANA MODAL*/
.post-Content{
    margin: 20px;
    border-radius: 30px;
    border: #ced0d4 solid;
    background-color: var(--color-secundary);
    
}

.buttonPde{
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}

#publish-Button, .publishBtnModal{
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    color: white;
    background-color: var(--color-buttons);
    border-radius: 0.9375rem;
    border-style: none;
    padding: 0.5rem 1.125rem;
    text-decoration: none;
    margin: 3px;
}

.inputPostOpenModal{
    border: none;
}

.iconPost{
    height: 1.3rem;
}

.userPost{
    width: auto;
    display: flex;
    padding: 15px 20px;
}

.userName{
    font-size: 15px;
}

.dateCreatedP{
    font-size: 11px;
}

.userImage{
    background-color: rgb(190, 187, 184);
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    padding: 6px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allPostsContainer{
    background-color: var(--color-secundary);
    padding: 5px 5px 0px;
    margin: 15px 4px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 0.1rem #807b7a;
}

.individualPosts{
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 0px 10px;
    padding: 5px 5px 0px;
    font-family: 'Sarabun', sans-serif;
    font-size: 0.85rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.btn-seeMore{
    border: none;
    background-color: var(--color-secundary);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.first-section-posts{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.imagenDeUsuario{
    background-color: rgb(190, 187, 184);
    width: 40px;
    height: 40px;
    margin: 0rem 10px 0px 0px;
    border-radius: 50%;
}

.interactions{
    display: flex;
    justify-content: space-evenly;
    border-top-style: solid;
    border-color:  #ced0d4;
    padding: 10px 10px;
}

.icon-interactions{
    width: 18px;
    height: 18px;
    padding: 0px 10px 0px 0px;
}

.interactionsbuttons{
    height: 15px;
    padding: 7px;
}

.textPost {
    font-family: 'Lato', sans-serif;
    font-size: 0.8938rem;
    margin: 0px 10px 15px 16px;
    display: flex;
    flex-direction: column;
}

.post-options-menu{
    list-style: none;
    background-color: rgba(169, 160, 160, 0.3);
    border-radius: 15px;
    padding: 15px;
    transition: left 0.3s;
}

.post-options-menu .show-Menu{
    display: block;
}

.icon{
    width: 15px;
    padding-right: 5px;
}

.textInt{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.deleteOption, .editOption{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#deleteSection{
    color: red;
}








.firstModalSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0px;
    background-color: #ffffff;
    box-shadow: 0 0 0.6rem #807b7a;
    align-items: center;
    width: 100%;
}

.inputPost{
    font-family: 'Sarabun', sans-serif;
    font-size: 0.85rem;
    color: rgb(46, 46, 46);
    word-wrap: break-word;
    height: 20rem;
    width: 90%;
    border: none;
    padding: 0px 0px 20px 10px;
    margin: 10px;
    text-align: left;
    vertical-align: baseline;
    outline: none;
}

.photoSelect{
    position:relative;
    display: inline-block;
    margin: 20px;
}

.photoSelect::before{
    background-color: #cac4c3;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    content: 'Seleccionar Archivo';
    position: absolute;
    font-family: 'Sarabun', sans-serif;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.photoSelect input[type='file']{
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}

.createPostModal, .closeModalHome{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: var(--color-text);
}

.UserNameModal{
    font-family: 'Sarabun', sans-serif;
    padding: 0px 10px;
    margin: 10px;
}

.modalHome{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-secundary);
    pointer-events: none; 
    opacity: 0;
} 

.modal_containerHome{
    max-width: 600px;
    max-height: 100%;
    background-color: white;
}

.thirdModalSection{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0.6rem #807b7a; 
    position: fixed;
    height: 100%;
    width: 100%
}

.modalShowHome{
    opacity: 1;
    pointer-events: unset;
}

.closeModalHome{
    border: none;
    margin: 10px;
    background-color: #cac4c3;
    padding: 5px 8px;
    color: var(--color-secundary);
    border-radius: 50%;
}


/* .closeModalHome{
    text-decoration: none;
    color: #fff;
    background-color: #DFBC53;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
} */
















.xBut{
    width: 2rem;
}

.buttonPost:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd; 
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modalShow{
    opacity: 1;
    pointer-events: unset;
}

.modal_container {
    max-width: 600px;
    max-height: 90%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    justify-content: center;
}

.modal_title{
    font-size: 2.5rem;
}

.modal_text{
    margin-bottom: 10px;
}

.modal_close{
    text-decoration: none;
    color: #fff;
    background-color: #DFBC53;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal_close:hover{
    color: #DFBC53;
    background-color: #fff;
}